In [1]:
import os
os.listdir()

['.ipynb_checkpoints',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'test1.ipynb',
 'test2.ipynb',
 'test3.ipynb',
 'test4.ipynb',
 'test5.ipynb',
 'Testings.ipynb']

In [2]:
import pandas

In [3]:
df1 = pandas.read_csv("supermarkets.csv")
df1.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [4]:
df1.shape

(6, 7)

In [5]:
df2 = pandas.read_json("supermarkets.json")
df2.set_index("ID")

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [6]:
df3 = pandas.read_excel("supermarkets.xlsx",sheetname=0)
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [7]:
df4 = pandas.read_csv("supermarkets-commas.txt")
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [8]:
df5 = pandas.read_csv("supermarkets-semi-colons.txt",sep=";")
df5

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [9]:
df6 = pandas.read_csv("http://pythonhow.com/supermarkets.csv")
df6

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [10]:
df7 = pandas.read_json("http://pythonhow.com/supermarkets.json")
df7

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [11]:
df7 = df7.set_index("Address")

In [12]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [13]:
df7.set_index?

In [14]:
df7.loc["735 Dolores St":"332 Hill St","Country":"ID"]

               Country  Employees  ID
Address
735 Dolores St     USA         15   2
332 Hill St        USA         25   3

In [15]:
df7.loc["332 Hill St","Country"]

'USA'

In [16]:
df7.loc[:,"Country"]

Address
3666 21st St       USA
735 Dolores St     USA
332 Hill St        USA
3995 23rd St       USA
1056 Sanchez St    USA
551 Alvarado St    USA
Name: Country, dtype: object

In [17]:
list(df7.loc[:,"Country"])

['USA', 'USA', 'USA', 'USA', 'USA', 'USA']

In [18]:
df7.iloc[1:4,1:4]

               Country  Employees  ID
Address
735 Dolores St     USA         15   2
332 Hill St        USA         25   3
3995 23rd St       USA         10   4

In [19]:
df7.iloc[3,1:4]

Country      USA
Employees     10
ID             4
Name: 3995 23rd St, dtype: object

In [20]:
df7.ix[3,"Name"]

"Ben's Shop"

In [21]:
df7.drop("City",1)

                Country  Employees  ID         Name             State
Address
3666 21st St        USA          8   1      Madeira          CA 94114
735 Dolores St      USA         15   2  Bready Shop          CA 94119
332 Hill St         USA         25   3  Super River  California 94114
3995 23rd St        USA         10   4   Ben's Shop          CA 94114
1056 Sanchez St     USA         12   5      Sanchez        California
551 Alvarado St     USA         20   6   Richvalley          CA 94114

In [22]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [23]:
df7 = df7.drop(df7.index[0:3],0)

In [24]:
df7

                          City Country  Employees  ID        Name       State
Address
3995 23rd St     San Francisco     USA         10   4  Ben's Shop    CA 94114
1056 Sanchez St  San Francisco     USA         12   5     Sanchez  California
551 Alvarado St  San Francisco     USA         20   6  Richvalley    CA 94114

In [25]:
df7 =  pandas.read_json("http://pythonhow.com/supermarkets.json")
df7

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [26]:
df7 = df7.set_index("Address")
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [27]:
df7.columns

Index(['City', 'Country', 'Employees', 'ID', 'Name', 'State'], dtype='object')

In [28]:
df7.index

Index(['3666 21st St', '735 Dolores St', '332 Hill St', '3995 23rd St',
       '1056 Sanchez St', '551 Alvarado St'],
      dtype='object', name='Address')

In [29]:
#df7 = df7.drop("332 Hill St")
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [30]:
len(df7.index)

6

In [31]:
df7["Continent"]=df7.shape[0]*["North America"]

In [32]:
df7

,City,Country,Employees,ID,Name,State,Continent
Address,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,North America
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,North America
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,North America
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,North America
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,North America
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,North America

In [33]:
df7.shape

(6, 7)

In [34]:
df7.shape[0]

6

In [35]:
df7.shape[0]*["North America"]

['North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America']

In [36]:
df7["Continent"]=df7["Country"]+", "+"North America"

In [37]:
df7

,City,Country,Employees,ID,Name,State,Continent
Address,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA, North America"
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA, North America"
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA, North America"
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA, North America"
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA, North America"
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA, North America"

In [38]:
df7_t = df7.T

In [39]:
df7_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
Country,USA,USA,USA,USA,USA,USA
Employees,8,15,25,10,12,20
ID,1,2,3,4,5,6
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Continent,"USA, North America","USA, North America","USA, North America","USA, North America","USA, North America","USA, North America"

In [40]:
df7_t["3666 21st St"] = ["My City","My Country",10,7,"My Shop","My State"+" 90210","My Continent"]

In [41]:
df7_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,My City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
Country,My Country,USA,USA,USA,USA,USA
Employees,10,15,25,10,12,20
ID,7,2,3,4,5,6
Name,My Shop,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
State,My State 90210,CA 94119,California 94114,CA 94114,California,CA 94114
Continent,My Continent,"USA, North America","USA, North America","USA, North America","USA, North America","USA, North America"

In [42]:
df7 = df7_t.T

In [43]:
df7

,City,Country,Employees,ID,Name,State,Continent
Address,,,,,,,
3666 21st St,My City,My Country,10,7,My Shop,My State 90210,My Continent
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA, North America"
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA, North America"
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA, North America"
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA, North America"
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA, North America"

In [44]:
df7.ix[3,"Name"] = "Lebron"

In [45]:
df7

,City,Country,Employees,ID,Name,State,Continent
Address,,,,,,,
3666 21st St,My City,My Country,10,7,My Shop,My State 90210,My Continent
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA, North America"
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA, North America"
3995 23rd St,San Francisco,USA,10,4,Lebron,CA 94114,"USA, North America"
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA, North America"
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA, North America"

In [46]:
df6

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [50]:
dm = pandas.merge(left=df6, right = df7, on="ID",suffixes=('_df6','_df7'))

In [51]:
dm

,ID,Address,City_df6,State_df6,Country_df6,Name_df6,Employees_df6,City_df7,Country_df7,Employees_df7,Name_df7,State_df7,Continent
0,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,San Francisco,USA,15,Bready Shop,CA 94119,"USA, North America"
1,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,San Francisco,USA,25,Super River,California 94114,"USA, North America"
2,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,San Francisco,USA,10,Lebron,CA 94114,"USA, North America"
3,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,San Francisco,USA,12,Sanchez,California,"USA, North America"
4,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,San Francisco,USA,20,Richvalley,CA 94114,"USA, North America"

In [61]:
from geopy.geocoders import Nominatim

In [66]:
Nom = Nominatim()
n = Nom.geocode("3995 23rd St, San Francisco, CA 94114") #this is a real address, see next block for fake
print(n)

3995, 23rd Street, Noe Valley, SF, California, 94114, United States of America

In [67]:
n.latitude

37.7529648

In [69]:
n.longitude

-122.431714

In [71]:
dir(n)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 '_address',
 '_point',
 '_raw',
 '_tuple',
 'address',
 'altitude',
 'latitude',
 'longitude',
 'point',
 'raw']

In [72]:
type(n)

geopy.location.Location

In [64]:
n = Nom.geocode("735 Dolores St, San Francisco, CA 94119")
print(n)

None

In [75]:
df = pandas.read_csv("Supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [76]:
df["Address"]=df["Address"]+", "+df["City"]+", "+df["State"]+", "+ df["Country"]
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20

In [79]:
df["Coordinates"]=df["Address"].apply(Nom.geocode)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California..."
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,None
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,..."
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California..."
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor..."

In [84]:
df["Coordinates"][0].longitude

-122.429343346939

In [85]:
df["Coordinates"][0].latitude

37.756488877551

In [99]:
df["Coordinates"][2]

Location(332, Hill Street, Noe Valley, SF, California, 94114, United States of America, (37.755725122449, -122.428601306122, 0.0))

In [106]:
help(df["Coordinates"].apply)

Help on method apply in module pandas.core.series:

apply(func, convert_dtype=True, args=(), **kwds) method of pandas.core.series.Series instance
    Invoke function on values of Series. Can be ufunc (a NumPy function
    that applies to the entire Series) or a Python function that only works
    on single values

    Parameters
    ----------
    func : function
    convert_dtype : boolean, default True
        Try to find better dtype for elementwise function results. If
        False, leave as dtype=object
    args : tuple
        Positional arguments to pass to function in addition to the value
    Additional keyword arguments will be passed as keywords to the function

    Returns
    -------
    y : Series or DataFrame if func returns a Series

    See also
    --------
    Series.map: For element-wise operations

    Examples
    --------

    Create a series with typical summer temperatures for each city.

    >>> import pandas as pd
    >>> import numpy as np
    >>> series = pd.Series([20, 21, 12], index=['London',
    ... 'New York','Helsinki'])
    London      20
    New York    21
    Helsinki    12
    dtype: int64

    Square the values by defining a function and passing it as an
    argument to ``apply()``.

    >>> def square(x):
    ...     return x**2
    >>> series.apply(square)
    London      400
    New York    441
    Helsinki    144
    dtype: int64

    Square the values by passing an anonymous function as an
    argument to ``apply()``.

    >>> series.apply(lambda x: x**2)
    London      400
    New York    441
    Helsinki    144
    dtype: int64

    Define a custom function that needs additional positional
    arguments and pass these additional arguments using the
    ``args`` keyword.

    >>> def subtract_custom_value(x, custom_value):
    ...     return x-custom_value

    >>> series.apply(subtract_custom_value, args=(5,))
    London      15
    New York    16
    Helsinki     7
    dtype: int64

    Define a custom function that takes keyword arguments
    and pass these arguments to ``apply``.

    >>> def add_custom_values(x, **kwargs):
    ...     for month in kwargs:
    ...         x+=kwargs[month]
    ...         return x

    >>> series.apply(add_custom_values, june=30, july=20, august=25)
    London      95
    New York    96
    Helsinki    87
    dtype: int64

    Use a function from the Numpy library.

    >>> series.apply(np.log)
    London      2.995732
    New York    3.044522
    Helsinki    2.484907
    dtype: float64

In [112]:
df["Latitude"]=df["Coordinates"].apply(lambda x: x.latitude if x!= None else None)
df["Longitude"]=df["Coordinates"].apply(lambda x: x.longitude if x!= None else None)

In [113]:
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,None,NaN,NaN
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,...",37.755725,-122.428601
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220